form(method="post" action="/login")
    table
        tr
            td Nom d'utilisateur
            td
                input(type="text" name="username")
        tr
            td Mot de passe
            td
                input(type="password" name="password")
        tr
            td
            td
                input(type="submit" value="Se connecter")