form(method="post" action="/register")
    table
        tr
            td Nom d'utilisateur
            td
                input(type="text" name="username")
        tr
            td Adresse e-mail
            td
                input(type="text" name="email")
        tr
            td Mot de passe
            td
                input(type="password" name="password")
        tr
            td Confirmer le mot de passe
            td
                input(type="password" name="confirm-password")
        tr
            td
            td
                input(type="submit" value="Créer un compte")