* {
    box-sizing: border-box;
}

body {
    background: #000000 url('./img/bg.jpg') no-repeat center center/cover;
    color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.gradient-circle {
    background: conic-gradient(
        rgb(19, 19, 133) 0%,
        rgb(14, 70, 190) 40%,
        rgb(255, 255, 255) 40%,
        rgb(255, 255, 255) 60%,
        rgb(14, 190, 14) 60%,
        rgb(19, 133, 19) 100%
    );

    /* Use border to see the size of the gradient circle when using Firefox, because conic-gradient property isn't avaliable in Firefox */
    /* border: 5px solid red; */

    height: 270px;
    width: 270px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 120px;
    width: 15px;
    height: 170px;
    /* Use "background-color" to visualize the pointer box, which will be similar as a clock needle */
    /* background-color: gold; */
    animation: rotation 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: block;
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

/* Animations */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}