body {
    background-color: silver;
    display: flex;
    justify-content: center;
}

#data{

    border: 2px solid black;
}
.character0{
    color: green;
    background-color: white;
}
.character1{
    color: gold;
    background-color: white;
}
.character2{
    color: blue;
    background-color: white;
}
.character3{
    color: red;
    background-color: black;
}
.character4{
    color: green;
    background-color: white;
}
.character5{
    color: brown;
    background-color: sandybrown;
}
.character6{
    color: blue;
    background-color: sandybrown;
}
.character7{
    color: red;
    background-color: white;
}
.character8{
    color: orange;
    background-color: white;
}
.character9{
    color: blue;
    background-color: white;
}