extends layout
block content
    .login-panel
        img(src="img/login-img.jpg", alt="Logo de connexion")
        include includes/login-form
    .register-panel
        img(src="img/register-img.jpg", alt="Logo d'enregistrement")
        include includes/register-form